

.left {
  background-image: url(../../components/images/loginimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.rightDiv {
  background: rgba(251, 221, 187, 0.51);
}


.login-btn {
  background: #00302e;
}
