.left1 {
  background-image: url(../../components/images/signup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.rightDiv {
  background: rgba(251, 221, 187, 0.51);
}