.signUp {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  
  .right {
    width: 50%;
    text-align: center;
    padding: 8em 3em 3em 3em;
    background: rgba(251, 221, 187, 0.51);
  }
  
  .right h2 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    padding: 0 0 1rem 0;
  }
  
  .right input {
    margin: 0 0 2em 0;
    width: 28em;
    height: 3em;
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
    padding: 0 0 0 0.5rem;
  }
  
  button {
    width: 28em;
    height: 3em;
    background: #00302e;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  
  .reset {
      text-align: center;
      padding: 0 3.8em;
      margin: 1em 0 0 0;
  }
  
  .reset span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: rgba(0, 48, 46, 0.91);
    text-align: left;
  }
  
  .reset a {
    text-decoration: none;
  }